.bottom_wrapper {
  width: 100%;
  background-color: #fff;
  padding: 10px 10px;
  position: absolute;
  bottom: 0;
  height: 70px;
}

.bottom_wrapper .send_message {
  width: 10%;
  height: 50px;
  display: inline-block;
  border-radius: 10px;
  background-color: var(--light-green);
  color: white;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  background-color: var(--dark-green);
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  line-height: 48px;
}

.bottom-block {
  height: 100%;
  text-align: center;
  display: flex;
  /*border: 1px solid;*/
}

.bottom-block img {
  margin: auto;
  height: 100%;
  max-height: 40px;
  cursor: pointer;
}

.bottom-block.block1 {
  float: left;
  width: calc(85% - 60px);
  display: inline-block;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #bcbdc0;
  margin-left: 10px;
}

.bottom-block.block2 {
  float: right;
  width: 40px;
  /*max-width: 50px;*/
}

.block1 .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  outline-width: 0;
  color: gray;
}

.bottom-block.block3 {
  width: 15%;
  margin-right: 10px;
  float: right;
}

.bottom-block .send_message {
  width: 100%;
  height: 50px;
  display: inline-block;
  border-radius: 10px;
  background-color: var(--light-green);
  color: white;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
}