.contact-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative; 
}

.contact-placeholder .letter {
  position: absolute; 
  padding-top: 5px;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.a {
  background-color: rgb(87, 87, 250);
}

.b {
  background-color: rgb(207, 178, 82);
}

.c {
  background-color: rgb(66, 178, 206);
}

.d {
  background-color: rgb(226, 163, 90);
}

.e {
  background-color: rgb(110, 90, 226);
}

.f {
  background-color: rgb(38, 16, 165);
}

.g {
  background-color: rgb(226, 66, 38);
}

.h {
  background-color: rgb(196, 148, 196);
}

.i {
  background-color: rgb(130, 104, 148);
}

.j {
  background-color: rgb(223, 181, 65);
}

.k {
  background-color: rgb(33, 118, 197);
}

.l {
  background-color: rgb(41, 90, 180);
}

.m {
  background-color: rgb(107, 177, 182);
}

.n {
  background-color: rgb(129, 106, 155);
}

.o {
  background-color: rgb(192, 135, 180);
}

.p {
  background-color: rgb(233, 119, 119);
}

.q {
  background-color: rgb(218, 148, 108);
}

.r {
  background-color: rgb(212, 132, 132);
}

.s {
  background-color: rgb(174, 175, 103);
}

.t {
  background-color: rgb(168, 145, 101);
}

.u {
  background-color: rgb(166, 148, 170);
}

.v {
  background-color: rgb(108, 174, 179);
}

.w {
  background-color: rgb(113, 164, 187);
}

.x {
  background-color: rgb(177, 165, 100);
}

.y {
  background-color: rgb(133, 124, 160);
}

.z {
  background-color: rgb(182, 117, 117);
}