
/* --------------------------------------- */
/* COLORS */

:root {
  --light-green: rgba(0, 167, 22, 0.507);
  --dark-green: rgba(0, 167, 22, 0.822);
  --light-gray: rgba(216, 216, 216, 0.507);
  --dark-gray: #444444a6;
  --dark-text: #222222;
  --deep-blue: #63ADD0;
  --light-blue: #e0ecfe;
  --dark-text: #222222;
}

.light-gray {
  color: var(--light-gray);
}

.dark-gray {
  color: var(--dark-gray);
}

/* --------------------------------------- */
/* MAIN CONIAINERS */

* {
  box-sizing: border-box;
}

.invisible {
  display: none !important;
}

.sidebar {
	float: left;
	width: 200px;
	height:100%;
	background-color: #f8f8f8;
	overflow: hidden;
}

.chat_inner_window {
	margin-left: 200px;
  height: calc(100% - 35px);
	background-color: #f3f3f3;
	overflow: hidden;
  position: relative;
}

.chat_inner_window .tdcenter {
  height: 100%;
  vertical-align: middle;
  width: 100%;
  text-align: center; 
  color: gray;
}

body {
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 1200px;
  height: calc(100% - 200px);
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

