<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple chat</title>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="/js/script.js"></script>	
	<link type="text/css" rel="stylesheet" data-th-href="@{css/style.css}" />
	
</head>

<body>

	
	<h2 th:utext="${message}"></h2>

  <div class="login_window">

    <div class="top_menu">
		<div class="title">Chat by Victor Umanskiy</div>
	</div>

    <h2 class="h2-login active">Log in</h2>
    <h2 class="h2-login inactive">Sign up</h2>
    
   	
    <div style="color: red;" th:if="${param.error}">
    	Invalid username and password
    </div>
    
    <div th:if="${param.logout}">
    	You have been successfully logged out
    </div>
    
    <form id="form_login" th:action="@{/auth}" method="POST">
      <input type="text" id="login" name="username" placeholder="username" />
      <input type="password" id="password" name="password" placeholder="password" />
      <input type="submit" id="login_button" value="Log In" />
      <!-- <div class="checkbox">
      <input class="custom-checkbox" type="checkbox" id="rememberMe" name="rememberMe" th:field="*{remember}" checked />
      <label for="rememberMe">Remember me</label>
      </div> -->
    </form>
    
    <form id="form_signup" class="invisible" th:object="${authForm}" th:action="@{/register}" method="POST">
      <input type="text" id="reg_username" name="username" onchange="usernameInputChange()" placeholder="username" th:field="*{username}" />
      <div id = "reg_username_tip"></div>
      <input id = "reg_password" type="password" placeholder="password" onchange ="passwordInputChange()" th:field="*{password}" />
      <input id = "reg_password_repeat" type="password" placeholder="please, repeat password" onchange ="passwordInputChange()" />
      <div id = "reg_password_tip"></div>
      <input type="submit" class="inactive-input" id="reg_button" value="Sign up" />
      <!--
      <div class="checkbox">
      <input class="custom-checkbox" type="checkbox" id="rememberMe" name="rememberMe" th:field="*{remember}" checked />
      <label for="rememberMe">Remember me</label>
      </div>
      -->
    </form>

  </div>

</body>
</html>