<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple chat</title>
    
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/login.css" />
	<link rel="stylesheet" href="/css/menu.css" />
	
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/js/auth.js"></script>
	
</head>

<body onload="onLoad()">

  <div class="login_window">

    <div class="top_menu">
		<div class="title">Chat by Victor Umanskiy</div>
	</div>

    <h2 class="h2-login active" id="h2_signin">Sign in</h2>
    <h2 class="h2-login inactive" id="h2_signup">Sign up</h2>
    
   	<!-- <p style="color: red;" th:utext="${regErrorString}"></p> // #refactor // Сейчас этот параметр не приходит, т.к. идет редирект. Если нужны разные виды ошибок, то надо переделать. -->
   	
   	<div style="color: red;" th:if="${param.regerror}">
    	Such username already exists
    </div>
   	
    <div style="color: red;" th:if="${param.error}">
    	Invalid username and password
    </div>
    
    <div th:if="${param.logout}">
    	You have been successfully logged out
    </div>
    
    <form id="form_login" th:action="@{/auth}" method="POST">
      <input type="text" id="login" name="username" placeholder="username" />
      <input type="password" id="password" name="password" placeholder="password" />
      <input type="submit" id="login_button" value="Sign In" />
      <div class="checkbox">
	      <input class="custom-checkbox" type="checkbox" id="remember-me" name="remember-me" checked />
	      <label for="remember-me">Remember me</label>
      </div>
    </form>
    
    <form id="form_signup" class="invisible" th:object="${authForm}" th:action="@{/register}" method="POST">
      <input type="text" id="reg_username" name="username" onchange="usernameInputChange()" placeholder="username" th:field="*{username}" />
      <div id = "reg_username_tip"></div>
      <input id = "reg_password" type="password" placeholder="password" onchange ="passwordInputChange()" th:field="*{password}" />
      <input id = "reg_password_repeat" type="password" placeholder="please, repeat password" onchange ="passwordInputChange()" />
      <div id = "reg_password_tip"></div>
      <input type="submit" class="inactive-input" id="reg_button" value="Sign up" />
      <div class="checkbox">
	      <input class="custom-checkbox" type="checkbox" id="remember-me-reg" name="remember-me" checked />
	      <label for="remember-me-reg">Remember me</label>
      </div>
    </form>

  </div>

</body>
</html>