<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple chat</title>
	
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/avatar.css" />
	<link rel="stylesheet" href="/css/placeholder.css" />
	<link rel="stylesheet" href="/css/pop-up.css" />
	<link rel="stylesheet" href="/css/bottom.css" />
	<link rel="stylesheet" href="/css/contacts.css" />
	<link rel="stylesheet" href="/css/menu.css" />
	<link rel="stylesheet" href="/css/messages.css" />
	<link rel="stylesheet" href="/css/lightbox.css" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/contactSearch.js"></script>
	<script src="/js/images.js"></script>
	<script src="/js/pop-up.js"></script>
	<script src="/js/fileProcessor.js"></script>
	<script src="/js/service.js"></script>
	<script src="/js/lightbox.js"></script>
	
	<link type="text/css" rel="stylesheet" data-th-href="@{css/style.css}" />
	
</head>

<body onload="onLoad()">
	
	<!--<button onclick="test()">Test</button>-->
	
	<input type="file" class="invisible" id="avatar_input" name="avatar_input" />
	<input type="file" class="invisible" id="file-input" name="file-input" />​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
	
	<div class="invisible" id="userName" th:utext="${user.username}"></div>
	
	<div class="pop-up" style="bottom:5px;">
		<div class = "text"></div>
	</div>
	
	<div class="chat_window">
	
		<!-- TOP BAR -->
		<div class="top_menu">
			<div class="title">Chat by Victor Umanskiy</div>
		</div>
		
		<div class = "sidebar">
		
			<!-- PROFILE -->
			<div id="profile" class="profile">	
				<img id="contact-profile-img" class="contact-img" th:classappend="${user.base64Image == null} ? invisible : userclass" th:src="@{'data:image/jpeg;base64,'+${user.base64Image}}" />
				<div id="contact-profile-placeholder" class="contact-placeholder" th:classappend="${(user.base64Image != null ? 'invisible' : '') + (' ' + user.letter)}"><div class="letter" th:utext="${user.username[0]}"></div></div>
				<div class="contact-name" th:utext="${user.username}"></div>
			</div>

			<!-- MENU -->
			<div class="menu">
				<div class="shadowRound" th:classappend="${user.letter}">
					<img id="menu-profile-img"  th:classappend="${user.base64Image == null} ? invisible : userclass" th:src="@{'data:image/jpeg;base64,'+${user.base64Image}}" />
					<div id="menu-profile-letter" class="letter" th:classappend="${user.base64Image} != null ? invisible : userclass" th:utext="${user.username[0]}"></div>
				</div>
				<div class="username" th:utext="${user.username}"></div>
				<div class="text"><a th:href="@{/logout}">Sign out</a></div>
			</div>
	
			<!-- CONTACT SEARCH -->
			<input id="contact_input" class="contact_input" onchange="contactInputChange()" placeholder="Add contact..." />
			<div id="searching-tip" class="searching-tip invisible"></div>
			
			<ul class = "contacts invisible" id = "found_contacts">
			</ul>
			
			<!-- CONTACTS -->
			<ul class = "contacts" id = "contacts">
				<li class = "contact" th:each ="contact : ${contactList}">
					
					<!-- <img class="contact-img" th:unless="${contact.avatarPath == null}" th:src="@{/picture/{path}(path=${contact.avatarPath})}" alt="" />
					<div class="contact-img" th:if="${contact.avatarPath == null}"></div> -->
					
					<img class="contact-img" th:unless="${contact.base64Image == null}" th:src="@{'data:image/jpeg;base64,'+${contact.base64Image}}" />
					<div class="contact-placeholder" th:classappend="${contact.letter}" th:if="${contact.base64Image == null}"><div class="letter" th:utext="${contact.username[0]}"></div></div>
					<div class = "contact-name" th:utext="${contact.username}"></div>
					<div class = "counter" th:classappend = "${contact.unreadCount}==0 ? invisible : userclass" th:utext="${contact.unreadCount}"></div>
				</li>
				</ul>
			</div>
		
		<div class="chat_inner_window">
		
			<!-- STARTING TIP -->
			<table class="starting-tip">
				<tr>
					<td>
						<p>Select a contact to start messaging...</p>
					</td>
				</tr>
			</table>
			
			<!-- CHAT TIP -->
			<table class="chat-tip invisible">
				<tr>
					<td>
						<p>Loading messages...</p>
					</td>
				</tr>
			</table>
			
			<!-- MESSAGES -->
			<ul class="messages invisible" th:each="contact : ${contactList}" th:id="'messages-' + ${contact.username}">
			</ul>
			
			<!-- BOTTOM BAR -->
			<div class="bottom_wrapper invisible">
				<div class="bottom-block block1">
					<input id="message_input_value" class="message_input" placeholder="Type your message here..." />
				</div>
				<div class="bottom-block block3">
					<div class="send_message" id="send_button">
						<div class="text">Send</div>
					</div>
				</div>
				<div class="bottom-block block2">
					<img id="attach" src="https://aconsultant.ru/wp-content/uploads/2020/06/attach-icon.png" />
				</div>		
			</div>
			
		</div>
	
	</div>
	
</body>
</html>